:root {
    --background: #191919 !important;
    --b-1: #282828 !important;

    --b-2: #333333 !important;
    --b-3: #717171 !important;
    --b-4: #8e8e8e !important;

    --b-5: #cccccc !important;
    --b-6: #d8d8d8 !important;

    --text: #f3f3f3 !important;
    --text-2: #e2e2e2 !important;

    --link: #5596ff !important;
}

body,
#extabar,
.yg51vc,
.sfbg,
#hdtb {
    background-color: var(--background) !important;
    color: #ffffff !important;
}
.eFM0qc,
.GHDvEf {
    background-color: var(--background) !important;
}

a,
a:visited,
a:link,
a.fl:link,
.WpKAof,
.SW5pqf {
    color: var(--link) !important;
    text-decoration: none !important;
}

.aajZCb {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.2),
        0 10px 10px -5px rgba(0, 0, 0, 0.1) !important;
}

.yuRUbf a,
.yuRUbf a:visited {
    color: var(--link) !important;
}

#hdtb {
    border-bottom: 1px solid var(--b-2) !important;
}

/* related questions | container */
.kp-blk {
    background-color: var(--b-1) !important;
}

/* related questions | heading */
.JolIg {
    color: #dfdedb !important;
}

.RNNXgb,
.kp-blk {
    border: 1px solid var(--b-2) !important;
}

.cbphWd {
    border-top: 1px solid var(--b-2) !important;
}

.gLFyf,
.b0KoTc,
.GmE3X {
    color: rgba(255, 255, 255, 0.87) !important;
}

.FqnKTc {
    border-left: 1px solid var(--b-2) !important;
}

.lBbtTb,
.fbar p,
.fbar a,
#fsettl,
#fsett a {
    color: var(--b-3) !important;
}

.IsZvec,
.LHJvCe,
.fbar a:hover,
#fsett a:hover,
#Wprf1b,
.iUh30 span {
    color: var(--b-4) !important;
}

.unknown_loc {
    background-color: var(--b-4) !important;
}

.d2IKib {
    color: #fc5c65 !important;
}

.f6F9Be {
    background-color: var(--background) !important;
    border-top: 1px solid var(--b-2) !important;
}

.b2hzT {
    border-bottom: 1px solid var(--b-2) !important;
}

.aCOpRe em,
.st em,
.dyjrff,
.hide-focus-ring,
.hdtb-mitem .hdtb-dd-b,
.hdtb-mitem a,
.GshZze,
.gb_qa svg,
.gb_Cc svg,
.gb_Zc .gb_fe,
.gb_Oc .gb_fe {
    color: #a09c97 !important;
}

.aajZCb,
.RNNXgb {
    background: var(--b-1) !important;
}

.GshZze:not(.hdtb-tl-sel):hover {
    background: var(--b-1) !important;
    border-color: var(--b-2) !important;
}

.sbl1,
.P1usbc,
.mmxugd,
.hDeAhf,
.YyVfkd {
    color: inherit;
}

.sbhl {
    background-color: var(--b-2) !important;
}

.xtSCL {
    margin: 0 !important;
    border-top: 1px solid var(--b-2) !important;
}

.GHDvEf,
.GHDvEf:hover,
.GHDvEf.selected,
.GHDvEf.selected:hover {
    background-color: transparent !important;
}

.g:not(.kno-kp, .y8URue .g) {
    padding: 8px !important;
    border-radius: 5px !important;
}

.g:not(.kno-kp, .y8URue .g):hover {
    background: var(--b-1) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
}

/* Host part of the result breadcrumb */
cite,
cite a:link,
cite a:visited {
    color: #dfdedb !important;
}

#hdtb-msb .hdtb-mitem.hdtb-msel {
    color: var(--link) !important;
    border-bottom: 2px solid var(--link) !important;
}

.hdtb-mitem .hdtb-dd-b,
.hdtb-mitem.hdtb-msel,
.hdtb-mitem a {
    padding-bottom: 14px !important;
}

.Xeztj,
.etUWZd,
.YSlUOe {
    background: var(--background) !important;
}

.MGqjK,
.MXl0lf {
    background-color: var(--b-1) !important;
    border: 1px solid var(--b-2) !important;
}

.MXl0lf span {
    color: var(--b-4) !important;
}

.MXl0lf:hover,
.WpKAof:hover {
    background-color: var(--b-2) !important;
}

.VibNM {
    border-top: 1px solid var(--b-2) !important;
}

.minidiv .sfbg {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) !important;
}

.kno-ftr a,
.kno-ftr a:visited,
.kno-ftr a:link {
    color: unset;
}

div#hplogo a img {
    content: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') !important;
    width: 272px !important;
    height: 201px !important;
    padding-top: 109px !important;
    box-sizing: border-box !important;
}

.fJOQGe {
    display: none !important;
}

center > input {
    background: var(--b-1) !important;
    border-color: var(--b-2) !important;
    color: var(--b-6) !important;
}

#hptl a {
    color: var(--text) !important;
}

.WGYX8,
.KPV9xf,
.CNf3nf,
.HErFVb {
    background: var(--b-1) !important;
    border: 1px solid var(--b-2) !important;
    color: var(--b-6) !important;
}

.KPV9xf:hover,
.CNf3nf:hover,
.HErFVb:hover {
    background: var(--b-3) !important;
    border: 1px solid var(--b-2) !important;
    color: var(--b-1) !important;
}

.pb5vrc {
    background: var(--b-2) !important;
}

/* Information snippet */

.rhscol .I6TXqe {
    border: 1px solid #3b3b3b !important;
    background-color: #282828 !important;
}

.vIPkDb {
    border-bottom: 1px solid #3b3b3b !important;
}

.kno-ecr-pt {
    color: var(--text) !important;
}

.wwUB2c,
.wwUB2c .chJdMe {
    color: var(--b-4) !important;
}

.hb8SAc {
    color: var(--b-5) !important;
}

.w8qArf .fl {
    color: var(--text) !important;
}

/* News - Headlines */

.cv2VAd {
    border: 1px solid #3b3b3b !important;
}

g-inner-card {
    background: #282828 !important;
}

/* headline and related container */
.qmv19b,
.AUiS2 {
    border: none !important;
    border-top: 1px solid var(--b-5) !important;
    border-bottom: 1px solid var(--b-5) !important;
    border-radius: 0px !important;
}
/* single heading borders */
.EPLo7b {
    border-top: 1px solid var(--b-5) !important;
}

.wqg8ad {
    color: #70757a !important;
}

/* Videos */

.zLOdYe {
    margin-left: 10px !important;
}

.MGqjK {
    border-radius: 7px !important;
}

.Q2MMlc {
    padding-top: 8px !important;
}

/* Similar questions */

.JolIg {
    margin: 7px 0 0 10px !important;
}

.cbphWd {
    margin-left: 10px !important;
}

.kp-blk.cUnQKe {
    border-radius: 7px !important;
}

.akqY6 {
    display: none !important;
}

.wrSo4 {
    padding-top: 7px !important;
    padding-left: 530px !important;
}

.y8URue {
    padding-left: 10px !important;
}

/* Related searches */
.eJ7tvc {
    color: var(--b-6) !important;
}

/*
    Google ads
*/
.VqFMTc {
    background-color: unset !important;
    color: #9a9898 !important;
}

.qzEoUe,
.N6sL8d {
    color: var(--text-2) !important;
}

/*
   SHOPPING
*/
/* preview image */
.pla-unit-img-container {
    background-color: #dfdedb !important;
}
/* item price */
.e10twf {
    color: #c5c5c5 !important;
}
/* seller */
.VZqTOd {
    color: #b3b3b3 !important;
}

/* shipping information */
.pla-extensions-container {
    color: #70757a !important;
}

/* item background */
.cu-container .mnr-c {
    background-color: var(--b-1) !important;
    box-shadow: none !important;
    border: 1px solid #191919 !important;
}

/* reset styling of hidden item(s) */
.S4EObe .exaJlc,
.S4EObe.zFtmEd {
    background: none !important;
}

/* reset box shadow */
.DUkiH.cu-container,
.u8H8Fd {
    box-shadow: none !important;
}
/* comparison websites */
.xasAs {
    color: var(--text-2) !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-track {
    background: var(--b-2) !important;
    border-radius: 4px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--b-3) !important;
    border-radius: 4px !important;
    transition: all 0.3s !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--b-4) !important;
}

/* Knowledge Panel claim*/

.H73aad {
    background-color: #282828 !important;
    border: 1px solid #3b3b3b !important;
    margin-top: 8px !important;
    margin-left: 13px !important;
}

.jleFbf {
    color: var(--b-6) !important;
}

/* Results for */

#rhs .nGydZ .garHBe {
    color: var(--text) !important;
}

.k4DMHe .xXEKkb {
    color: var(--b-6) !important;
}

#rhs .cwUqwd {
    color: var(--b-3) !important;
}

.y8Jpof.pPLc9e.kpQuGf {
    border-top: 1px solid #3b3b3b !important;
}

/* Every subtitle */

g-inner-card.zf84ud {
    background: var(--background) !important;
}

.s {
    color: var(--b-4) !important;
}

/* Google Account popup */

.gb_F {
    background: #282828 !important;
}

.gb_jb {
    background: var(--b-2) !important;
}

.gb_sb.gb_sb {
    background-color: var(--b-2) !important;
    border: 1px solid #3b3b3b !important;
    color: var(--b-4) !important;
}

.gb_mb {
    color: var(--text) !important;
}

.gb_ob {
    color: var(--b-4) !important;
}

.gb_Jb {
    border-top: 1px solid #3b3b3b !important;
}

.gb_wb.gb_wb {
    background-color: #282828 !important;
    color: var(--b-4) !important;
}

.gb_kb > svg.gb_lb,
.gb_xb > svg.gb_yb,
.gb_zb > svg.gb_Ab {
    color: var(--b-4) !important;
}

.gb_Cb {
    border-bottom: 1px solid #3b3b3b !important;
    border-top: 1px solid #3b3b3b !important;
}

.gb_Db.gb_Db {
    color: var(--b-4) !important;
}

.gb_Db.gb_Db,
.gb_Eb.gb_Eb {
    background-color: #282828 !important;
    border: 1px solid #3b3b3b !important;
}

.gb_1b {
    color: var(--b-4) !important;
}

.gb_3b {
    color: var(--b-3) !important;
}

/* Maps snippet */

.wlxxf {
    color: var(--b-5) !important;
}

.mqts7c {
    background: #282828 !important;
    color: var(--b-6) !important;
    border-radius: 5px !important;
    border: 1px solid #3b3b3b !important;
}

.VTNskf {
    border-bottom: 1px solid #3b3b3b !important;
}

.mJ2Mod {
    border-bottom: 1px solid #3b3b3b !important;
}

.mJ2Mod {
    border-top: 1px solid #3b3b3b !important;
}

.ab_button {
    border-radius: 5px !important;
    border: 1px solid #3b3b3b !important;
    background: #282828 !important;
}

.YhemCb {
    color: var(--b-6) !important;
}

.LrzXr {
    color: var(--b-6) !important;
}

.ElGe3c {
    color: var(--b-5) !important;
}

.wVTXVd {
    color: var(--b-5) !important;
}

.kplpt {
    color: var(--text) !important;
}

.NpTOee  {
    color: var(--b-6) !important;
}

.u9sbk {
    color: var(--text) !important;
}
