@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --color-bg: #ffffff;
    --color-fg: #2a2a2a;
}

body {
    font-family: 'Rubik', sans-serif;
    background: var(--color-bg);
    width: 330px;
}

.option {
    display: flex;
}

.option-stackoverflow-title {
    color: var(--color-fg);
    font-size: 16px;

    margin-right: 50px;
}

.option-stackoverflow-button {
    height: 50px;

    border: 2px solid var(--color-fg);
    border-radius: 5px;
    background: var(--color-bg);
    color: var(--color-fg);
}

.option-design-title {
    color: var(--color-fg);
    font-size: 16px;

    margin-top: 27px;
    margin-right: 180px;
}

.option-design-button {
    height: 50px;

    border: 2px solid var(--color-fg);
    border-radius: 5px;
    background: var(--color-bg);
    color: var(--color-fg);

    margin-top: 15px;
}

.option-stackoverflow-button:hover {
    border: 2px solid var(--color-bg);
    background: var(--color-fg);
    color: var(--color-bg);
}

.option-design-button:hover {
    border: 2px solid var(--color-bg);
    background: var(--color-fg);
    color: var(--color-bg);
}
