@keyframes popup {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}

.snippet {
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.2),
        0 10px 10px -5px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    animation: popup 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    margin-bottom: 20px;
    word-wrap: break-word;
}

.snippet ol,
.snippet ul {
    padding-left: 20px;
    margin: inherit;
}

.snippet-source {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.snippet-source img {
    width: 20px;
    height: 20px;
}

.snippet-source a {
    color: #eeebe7 !important;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: baseline;
    padding-left: 8px;
}

.snippet-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #eeeeee !important;
    text-decoration: none !important;
}

.snippet-header {
    padding: 15px;
    border-bottom: 1px solid #3b3b3b;
}

.snippet-content {
    padding: 8px 15px 15px;
    color: #eeeeee;
}

.snippet pre {
    background-color: #212121 !important;
    white-space: pre-wrap;
    text-overflow: clip;
    border-radius: 4px;
    padding: 4px;
    position: relative;
}

.copy-icon {
    font-size: 0.9em;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: opacity 0.1s;
    opacity: 0;
}

.snippet pre:hover > .copy-icon {
    opacity: 80%;
    cursor: pointer;
}

.snippet code {
    background-color: #212121 !important;
}

.snippet blockquote {
    border-left: 3px solid #5e5e5e;
    margin: 1.5em 10px;
    padding: 0.5em 20px;
}

.snippet hr {
    border: none;
    border-top: 2px solid #5e5e5e;
}

.snippet a {
    color: #5596ff;
    text-decoration: underline;
}

.snippet h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5em 0;
}

.snippet h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.5em 0;
}

.snippet h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5em 0;
}

.snippet h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5em 0;
}

.snippet ol li {
    list-style: decimal;
}

.snippet-content img {
    display: block;
    margin: 20px auto;
    max-width: 70%;
    height: auto;
    transition: all 0.2s ease-out;
    border-radius: 5px;
    cursor: zoom-in;
}

.snippet-content img.zoomed {
    transform: scale(2.0);
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.95);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    cursor: zoom-out;
}